﻿@model PagedList.IPagedList<Postboard.Models.Post>
@using PagedList.Mvc;

@{
    ViewBag.Title = "postbord.com";
}
<div>
    <h1 class="text-center">Welcome to post board</h1>
    <br />
</div>
<div class="container ">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="post1">
                <h4><u>Add new note.</u></h4>
                <img id="messageicn"  src="~/Content/img/add_mail.png" />
            </div>
        </div>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="post2" data-id="@item.PostId" data-action="Home/FocusOnPostModal" data-toggle="myModal2">
                        <h4><u>@item.Name</u></h4>
                        <p>@item.Message</p>
                    </div>
                </div>
            }
        }

    </div>
    @if (Model != null)
    {
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    }
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Post a new note</h4>
            </div>
            <div class="modal-body">
                <form action="Home/AddPost" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Name" class="control-label">Author Name</label>
                        <input name="Name" type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="Message" class="control-label">What would you like to say?</label>
                        <textarea name="Message" rows="5" class="form-control" id="message-text" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="FileChosen" class="control-label">Would you like to show something?</label>
                        <div class="form-inline">
                            <input id="uploadFile" name="FileChosen" class="form-control" />
                            <div class="fileUpload  btn-primary form-control">
                                <span>Choose File</span>
                                <input id="uploadBtn" type="file" class="upload" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" value="Submit" id="add-post" class="btn btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>