﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.post1, .post2 {
    border: solid 2px;
    height: 200px;
    width: 250px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

#author {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

#messageicn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 80%;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}